html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(0, 110, 255),
    rgb(0, 128, 60)
  );
}

.main-container {
  height: 500px;
  width: 1000px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 10px;
}
.login {
  width: 495px;
  height: 500px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.register {
  width: 495px;
  height: 500px;
  background-color: rgb(255, 145, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
label {
  font-size: x-small;
}
input {
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
button {
  width: 100px;
  padding: 10px;
  border: 1px solid none;
  border-radius: 10px;
  background-color: rgb(59, 59, 238);
  margin-top: 10px;
}
button:hover {
  width: 100px;
  padding: 10px;
  border: 1px solid none;
  border-radius: 10px;
  background-color: rgb(59, 131, 238);
  margin-top: 10px;
}
