html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(
    to right,
    rgb(0, 110, 255),
    rgb(0, 128, 60)
  ); */
  background-image: url(/assets/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: serif, sans-serif;
}

.main-container {
  height: 500px;
  /* background-image: linear-gradient(
    to right,
    rgb(0, 110, 255),
    rgb(0, 128, 60)
  ); */
  width: 1000px;
  /* background-color: black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 10px;
}
.login {
  width: 495px;
  height: 500px;
  background-color: rgba(64, 60, 56, 0.627);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: aliceblue;
}
.register-page {
  width: 495px;
  height: 500px;
  /* background-color: rgba(255, 145, 0, 0.575); */
  background-image: url(/assets/reg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: serif, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: aliceblue;
  /* opacity: 0.8; */
}
.login-p2 {
  width: 495px;
  height: 500px;
  /* background-color: rgba(64, 77, 69, 0.575); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-image: url(/assets/log.webp);
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.8; */
}
label {
  font-size: x-small;
}
input {
  padding: 10px;
  width: 100%;
  border: 1px none black;
  border-radius: 10px;
}
button {
  width: 100px;
  padding: 10px;
  border: 1px none;
  border-radius: 10px;
  background-color: rgba(59, 59, 238, 0.661);
  margin-top: 10px;
}
button:hover {
  width: 100px;
  padding: 10px;
  border: 1px solid none;
  border-radius: 10px;
  background-color: rgba(59, 131, 238, 0.754);
  margin-top: 10px;
}
.register-p2 {
  width: 495px;
  height: 500px;
  background-color: rgba(63, 61, 59, 0.627);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: aliceblue;
}
