html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  /* background-image: linear-gradient(
    to right,
    rgb(0, 110, 255),
    rgb(0, 128, 60)
  ); */
  /* background-image: url(/assets/background-image.jpg); */
  background-color: #f9fafb;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  /* height: 500px; */
  /* background-image: linear-gradient(
    to right,
    rgb(0, 110, 255),
    rgb(0, 128, 60)
  ); */
  width: 1000px;
  /* background-color: black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 10px;
}
.login {
  width: 495px;
  /* height: 500px; */
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px;
  /* color: aliceblue; */
  box-shadow: 0px 0px 20px 2px rgba(72, 70, 70, 0.582);
}
.register-page {
  width: 495px;
  /* height: 500px; */
  background-color: #f9fafb;
  /* background-image: url(/assets/reg.webp); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px rgba(72, 70, 70, 0.582);

  /* color: aliceblue; */
  /* opacity: 0.8; */
}
.login-p2 {
  width: 495px;
  /* height: 500px; */
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  border-radius: 10px;
  /* color: rgb(255, 255, 255); */
  /* background-image: url(/assets/log.webp); */
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 20px 2px rgba(72, 70, 70, 0.582);

  /* opacity: 0.8; */
}
label {
  font-size: small;
}
input {
  padding: 10px;
  width: 100%;
  border: 1px none black;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgba(72, 70, 70, 0.582);
}
button {
  width: 100px;
  padding: 10px;
  border: 1px none;
  border-radius: 10px;
  background-color: #10b981;
  color: #f9fafb;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 15px;
  /* font-weight: bold; */
}
button:hover {
  width: 100px;
  padding: 10px;
  border: 1px solid none;
  border-radius: 10px;
  background-color: #0d8a60;
  margin-top: 10px;
}
.register-p2 {
  width: 495px;
  /* height: 500px; */
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 20px;

  /* color: aliceblue; */
  box-shadow: 0px 0px 20px 2px rgba(72, 70, 70, 0.582);
}
.suggest {
  margin-top: -10px;
}
.radioInput {
  font-size: medium;
  font-style: italic;
  color: rgb(38, 58, 241);
}
